<li class="right clearfix" id="<%= message.id %>">
  <span class="chat-img pull-right">
    <%=image_tag current_user.profile_pic.url(:thumb), class: "img-circle img-small", alt: "User Avatar" %>
  </span>
  <div class="chat-body clearfix">
    <div class="header">
      <small class=" text-muted"><span></span></small>
      <strong class="pull-right primary-font"><%=current_user.full_name%></strong>
    </div>
    <p>
      <%=message.content%>
    </p>
  </div>
</li>
