#profile-cover-container{
margin:0 auto;
width:100%;
}

#container-content{
border:solid 1px #cccccc;
padding:20px;
width:100%;
color:#cccccc;
}

#info_box{
padding:60px 50px 0px 10px;
border:solid 1px #dedede;
width:auto;
background-color:#fcfcfc;
margin-top:200px;
}

#profile_img{
background-color: #FFFFFF;
border: 1px solid #DEDEDE;
margin-left: 10px;
margin-top: -100px;
position: absolute;
width: 86px;
height: 86px;
float:left;
}

.avatar_img{
padding:3px;
}

#cover_container{
overflow: auto;
width: auto;
background: url("/assets/cover3.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important
}

#info-box{
margin-left:115px;
margin-top: -50px;
position: absolute;
}

#info-name{
float:left;
overflow:hidden;
word-wrap: break-word;
width:150px;
}

#info-content{
margin-left:170px;
width:290px;
}

#info-photos{
text-align:center;
font-size:11px;
padding:5px;
float:left;
width:80px;
border:solid 1px #eeeeee;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

#info-friends{
text-align:center;
font-size:11px;
padding:5px;
margin-left:85px;
border:solid 1px #eeeeee;
width:80px;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

.edit_user .bootstrap-filestyle{
  float: left;
  margin-right: 3px;
}